---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout heroImage="hero-blog.jpg">
  <div class="p-4">
    <h1 class="pb-4">Blog</h1>

    <ul>
      {
        posts.map((post) => (
          <li class="mb-2">
            <FormattedDate date={post.data.pubDate} />
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
