@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  @apply text-gray-600;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply font-black;
    @apply uppercase;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply text-orange-700;
    @apply border-orange-700;
    @apply box-content;
  }
  a:hover,
  a:active {
    @apply border-b-2;
    @apply -mb-[2px];
    @apply text-orange-500;
    @apply border-orange-500;
  }
  article h1 {
    @apply pt-4;
  }
  article h2 {
    @apply pt-4;
  }
  article p {
    @apply pt-2;
  }
  body {
    margin: auto;
    max-width: 720px;
  }
  hr {
    @apply border-t-2;
    @apply mt-8;
    @apply mb-8;
  }
  strong {
    @apply font-bold;
  }
}
