@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  @apply text-stone-100;
  @apply bg-stone-800;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply font-extrabold;
    @apply uppercase;
    @apply drop-shadow;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  a {
    @apply text-primary;
    @apply border-primary;
    @apply box-content;
  }

  a:hover,
  a:active {
    @apply border-b-2;
    @apply -mb-[2px];
    @apply text-stone-100;
    @apply border-stone-100;
  }

  body {
    margin: auto;
    max-width: 720px;
  }

  hr {
    @apply border-borders;
    @apply border-t-2;
    @apply mt-8;
    @apply mb-8;
  }

  strong {
    @apply font-extrabold;
    @apply uppercase;
  }
}
