---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Confirm your subscription" hideBanner={true}>
  <div class="text-center my-16">
    <p>Please check your emails to confirm your subscription. Thank you!</p>
  </div>
</BaseLayout>
