---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Scree - The game"
  description="The best game ever made"
  heroImage="hero-scree.png"
>
  <article class="p-4">
    <h1>Scree - The game</h1>
  </article>
</BaseLayout>
