---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="pb-4 mb-4 flex flex-row justify-between flex-wrap gap-4 border-b-2"
>
  <a href="/">
    <h2 class="whitespace-nowrap">
      {SITE_TITLE}
    </h2>
  </a>
  <nav class="flex flex-row flex-wrap gap-4">
    <HeaderLink href="/freelance/">Freelance</HeaderLink>
    <HeaderLink href="/scree-game/">Scree</HeaderLink>
    <HeaderLink href="/blog/">Blog</HeaderLink>
    <HeaderLink href="/contact/">Contact</HeaderLink>
  </nav>
</header>
