---
import Icon from "../components/Icon.astro";
import { mdiMenu } from "@mdi/js";
import HeaderLinks from "./HeaderLinks.astro";
import { CONSTS } from "../consts";
---

<header
  class="py-2 px-4 flex flex-row justify-between flex-wrap gap-4 border-b-2 border-borders sticky top-0 bg-stone-800 z-10"
>
  <a href={CONSTS.urls.home}>
    <h2 class="whitespace-nowrap">
      {CONSTS.site.title}
    </h2>
  </a>

  <!-- desktop menu -->
  <nav class="hidden sm:block">
    <div class="flex flex-row gap-4">
      <HeaderLinks />
    </div>
  </nav>

  <!-- mobile menu  -->
  <input type="checkbox" id="menu-button" class="hidden" />
  <label for="menu-button">
    <Icon path={mdiMenu} size="28" />
  </label>
  <div id="menu-content">
    <nav class="flex flex-col gap-4 items-start">
      <HeaderLinks />
    </nav>
  </div>
</header>

<style>
  label[for="menu-button"] {
    cursor: pointer;
    @apply text-primary;
    @apply sm:hidden;
  }
  label[for="menu-button"]:hover {
    @apply text-stone-100;
  }

  #menu-content {
    @apply hidden;
    @apply w-full;
  }

  #menu-button:checked ~ #menu-content {
    @apply block;
    @apply sm:hidden;
  }
</style>
