---
import HeaderLink from "./HeaderLink.astro";
import Icon from "../components/Icon.astro";
import { mdiBriefcase, mdiController, mdiEmail, mdiNewspaper } from "@mdi/js";
---

<HeaderLink href="/freelance/">
  <Icon path={mdiBriefcase} />
  <span>Freelance</span>
</HeaderLink>
<HeaderLink href="/scree-game/">
  <Icon path={mdiController} />
  <span>Scree</span>
</HeaderLink>
<HeaderLink href="/blog/">
  <Icon path={mdiNewspaper} />
  <span>Blog</span>
</HeaderLink>
<HeaderLink href="/contact/">
  <Icon path={mdiEmail} />
  <span>Contact</span>
</HeaderLink>
